<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="Triangle" class="com.springDemo.demo.Triangle">
        <property name="point1" ref="Point1"/>
        <property name="point2" ref="Point2"/>
    </bean>
    <!-- getter injection
        <property name="type" value="Equilateral"/>
    -->
    <!--Constructor injection -->
     <!--
        <constructor-arg type="int" value="10"/>
        <constructor-arg type="java.lang.String" value="ISO Triangle"/>
      -->

        <bean id="Point1" class="com.springDemo.demo.Point">
            <property name="x" value="1"/>
            <property name="y" value="2"/>
        </bean>
    <bean id ="Point2" class="com.springDemo.demo.Point">
            <property name="x" value="-1"/>
            <property name="y" value="-2"/>
    </bean>
</beans>